
DB_HOST=localhost
DB_PORT=3306
DB_USER=dev_name
DB_PASSWORD=db_password_strong
DB_USER_PASSWORD=user_password_strong
DB_NAME=car_app_db

SUPABASE_URL= tu_url_de_supabase
SUPABASE_ANON_KEY= tu_anon_key_de_supabase
REDIS_HOST= localhost
REDIS_PORT= 6379
